### Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read the data and familiarize with the data

In [8]:
df = pd.read_csv("customer_segmentation_data.csv", sep=',')
df.head()

   minutes_watched     CLV  region  channel
0           3197.0  205.42       2        4
1             63.0  149.99       0        1
2            605.0  119.00       2        2
3             20.0  240.00       2        4
4            245.0  184.36       1        4

       minutes_watched          CLV       region      channel
count      3725.000000  3834.000000  3834.000000  3834.000000
mean       1972.094497   118.383920     1.167188     3.870370
std        7401.693028    70.471274     0.923055     2.191972
min           0.000000     0.000000     0.000000     1.000000
25%         159.000000    62.580000     0.000000     2.000000
50%         512.000000   119.000000     2.000000     3.000000
75%        1521.000000   149.990000     2.000000     6.000000
max      288508.000000   626.400000     2.000000     8.000000